*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: blueviolet;
    font-size: 40;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
;}
p{
    color: rgba(10, 100, 100, 0.5);
    
}
h2{ color: rgb(250, 100, 150);
    border: 2px solid green;
    display: inline-block;

}p{
    color: blue;
    background-color: burlywood;
    font-family: sans-serif;
    font-size: 18;
    align-self: auto;
}






















    