*{
    box-sizing: border-box;
    margin: auto;
    color: #757575
}

.menu{
    margin: 20px 0px 0px 30px;
    
}
.sub-menu {
    list-style: none;
    position: relative;
    
}
.sub-menu li{
    padding: 10px;
}
.sub-menu a{
    text-decoration: none;
}
.menu li:hover .sub-menu{
    
    display: block;
}
.sub-menu1{
    list-style: none;
     display: none;
    position: absolute;
    left:200px ;
    top: 0px;
}
.sub-menu li:hover .sub-menu1{
    display: block;
}
.sub-menu2{
    list-style: none;
    display: none; 
    position: absolute;
    margin-left:160px ;
    top: 0px;
    width: 100%;
   
}
.sub-menu1 li:hover .sub-menu2{
    
    display: block;
}    
.menu a:hover{
color: orangered;
}
